{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Заявки на обучение</h2>
    <table border="1" cellpadding="10">
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Email</th>
            <th>Телефон</th>
            <th>Курс</th>
        </tr>
        {% for application in applications %}
        <tr>
            <td>{{ application[0] }}</td>
            <td>{{ application[1] }}</td>
            <td>{{ application[2] }}</td>
            <td>{{ application[3] }}</td>
            <td>{{ application[4] }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">Нет заявок</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}