{% extends 'base.html' %}

{% block content %}
<div class="container form-container">
    <h2>Оставить заявку</h2>
    <form method="POST" action="{{ url_for('application') }}">
        <div>
            <label>Имя</label>
            <input type="text" name="first_name" required>
        </div>
        <div>
            <label>Фамилия</label>
            <input type="text" name="last_name" required>
        </div>
        <div>
            <label>Email</label>
            <input type="email" name="email" required>
        </div>
        <div>
            <label>Номер телефона</label>
            <input type="tel" name="phone" required>
        </div>
        <div>
            <label>Выберите курс</label>
            <select name="course" required>
                <option value="Программирование">Программирование</option>
                <option value="Дизайн">Финансы</option>
                <option value="Маркетинг">Логистика</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Отправить заявку</button>
    </form>
</div>
{% endblock %}
