{% extends "base.html" %}

{% block content %}
<div class="pricing-section">
    <h2>Наши Планы</h2>
    <div class="pricing-container">
        <div class="pricing-card">
            <h3>Логистика</h3>
            <div class="price">249.99 $</div>
            <div class="price-info">
                <p>Доступ к базовым курсам</p>
                <p>Личная поддержка</p>
            </div>
            <a href="{{ url_for('application') }}" class="enroll-button">Записаться</a>
        </div>
        
    </div>
</div>
{% endblock %}
