{% extends "base.html" %}

{% block title %}Ресурсы{% endblock %}

{% block content %}
<div class="resources-section">
    <h2>Полезные ресурсы</h2>
    <ul class="resources-list">
        <li><a href="/logistics-course" class="animated-link"><i class="fas fa-truck"></i> Курс по логистике</a></li>
        <!-- <li><a href="/it-course" class="animated-link"><i class="fas fa-laptop-code"></i> Курс по IT</a></li>
        <li><a href="#" class="animated-link"><i class="fas fa-book"></i> Основы Python — учебное пособие</a></li>
        <li><a href="#" class="animated-link"><i class="fas fa-globe"></i> Руководство по веб-разработке</a></li>
        <li><a href="#" class="animated-link"><i class="fas fa-chart-line"></i> Введение в финансы</a></li> -->
    </ul>    
</div>
{% endblock %}
